{% extends "main/base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
            {% for post in posts %}
                <article class="media content-section">
                    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
                    <div class="media-body">
                        <div class="article-metadata">
                            <a class="mr-2" style="color: #0C3C60" href="#">{{ post.author }}</a>
                            <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                        </div>
                        <h2><a class="article-title" href="{% url 'feedback-detail' post.id %}">{{ post.title }}</a></h2>
                        <p class="article-content">{{ post.content }}</p>
                    </div>
                </article>
            {% endfor %}
        </div>
        <div class="col-md-4">
            <a href="{% url 'feedback-create' %}" class="btn btn-primary" role="button">New Post</a>
        </div>
    </div>
{% endblock content %}