{% extends "main/base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Pick a Time Period:</h3>

                <div class="input-group mb-3">
                    <select class="custom-select" id="inputGroupSelect01">
                        <option selected>Choose...</option>
                        <option value="1">2019 - 2020</option>
                        <option value="2">2018 - 2019</option>
                        <option value="3">2017 - 2018</option>
                    </select>
                </div>

                <h3>Your Position:</h3>

                <div class="input-group mb-3">
                    <select class="custom-select" id="inputGroupSelect01">
                        <option selected>Choose...</option>
                        <option value="1">Forward</option>
                        <option value="2">Defense</option>
                        <option value="3">Center</option>
                        <option value="4">Goalie</option>
                    </select>
                </div>

                <h3>Your Stats:</h3>

                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Stats</th>
                        <th scope="col">Total</th>
                        <th scope="col">Average</th>
                        <th scope="col">High</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">Goals</th>
                        <td>{{ user_goals }}</td>
                        <td>{{ ave_goals }}</td>
                        <td>{{ high_goals }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Points</th>
                        <td>{{ user_points }}</td>
                        <td>{{ ave_points }}</td>
                        <td>{{ high_points }}</td>
                    </tr>
                    <tr>
                        <th scope="row">FOW</th>
                        <td>{{ user_fow }}</td>
                        <td>{{ ave_fow }}</td>
                        <td>{{ high_fow }}</td>
                    </tr>
                    <tr>
                        <th scope="row">FOL</th>
                        <td>{{ user_fol }}</td>
                        <td>{{ ave_fol }}</td>
                        <td>{{ high_fol }}</td>
                    </tr>
                    <tr>
                        <th scope="row">PPG</th>
                        <td>{{ user_ppg }}</td>
                        <td>{{ ave_ppg }}</td>
                        <td>{{ high_ppg }}</td>
                    </tr>
                    <tr>
                        <th scope="row">SHG</th>
                        <td>{{ user_shg }}</td>
                        <td>{{ ave_shg }}</td>
                        <td>{{ high_shg }}</td>
                    </tr>
                    <tr>
                        <th scope="row">ASSISTS</th>
                        <td>{{ user_assists }}</td>
                        <td>{{ ave_assists }}</td>
                        <td>{{ high_assists }}</td>
                    </tr>
                    <tr>
                        <th scope="row">FoPERCENT</th>
                        <td>{{ user_foPercent }}</td>
                        <td>{{ ave_foPercent }}</td>
                        <td>{{ high_foPercent }}</td>
                    </tr>
                    <tr>
                        <th scope="row">SHOOTINGPERCENT</th>
                        <td>{{ user_shootingPercent }}</td>
                        <td>{{ ave_shootingPercent }}</td>
                        <td>{{ high_shootingPercent }}</td>
                    </tr>
                    <tr>
                        <th scope="row">TOI</th>
                        <td>{{ user_toi }}</td>
                        <td>{{ ave_toi }}</td>
                        <td>{{ high_toi }}</td>
                    </tr>
                    <tr>
                        <th scope="row">SOG</th>
                        <td>{{ user_sog }}</td>
                        <td>{{ ave_sog }}</td>
                        <td>{{ high_sog }}</td>
                    </tr>
                    <tr>
                        <th scope="row">PIM</th>
                        <td>{{ user_pim }}</td>
                        <td>{{ ave_pim }}</td>
                        <td>{{ high_pim }}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div class="col-md-8">
                <div>
                    <a href="https://plotly.com/~ttran79/3/?share_key=ijbVgtyiPuAx54cMMyqw5q" target="_blank" title="Plot 3" style="display: block; text-align: center;"><img src="https://plotly.com/~ttran79/3.png?share_key=ijbVgtyiPuAx54cMMyqw5q" alt="Plot 3" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plotly.com/404.png';" /></a>
                    <script data-plotly="ttran79:3" sharekey-plotly="ijbVgtyiPuAx54cMMyqw5q" src="https://plotly.com/embed.js" async></script>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}